# Opencode
opencode.json
.opencode
.atl

# Venv
.venv/
venv/
env/
ENV/

# Workspace Configs
.idea
.idea/

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Entornos y secrets
.env
.envrc

# Tests / cobertura
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Packaging
build/
dist/
*.egg-info/

# Notebooks
.ipynb_checkpoints
